body {
    font-family: initial;
    margin: 0;
    padding: 0;
    background-color: #4088e1;
    border-top: 5px solid #000000;
    background-image:url(/img/fondo.jpeg);

}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: cursive;
    background: #fcfafa;
    padding: 10px;
    background-image: url(/img/fondo.jpeg);
    font-size: 20px;
}
footer {
    background: #4088e1;
    color: #453c3c;
    background-image: url(/img/ola.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        font-family: "Molle", cursive;
        margin: 0 0 10px;
    }
    p{
        font-family: "Molle", cursive;
        font-size: 20px;
    }
    
    

}
section {
    margin: 30px 0;
    font-family: "Mystery Quest", system-ui;
    p{
        font-family: "Shadows Into Light", cursive;
    }
}
.section-Laboral {
    color: #4088e1;
    li{
        font-family: fantasy;
    }
    h2 {
        font-family: "Shadows Into Light", cursive;

    }

}
.section-Educacion {
    margin: 1px;
    color: #4088e1;
    h2{
        font-family: "Shadows Into Light", cursive;
    }
    li {
        font-family: fantasy;
    }
}
.section-Cursos {
    margin: 1px;
    color: #4088e1
    
    
}
.section-cualidades {
    margin: 5px 0;
    color: #4088e1;
    h2{
        font-family: "Shadows Into Light", cursive;
    }
}


.section-Idiomas{
    color: #4088e1;
    h2{
        font-family: "Shadows Into Light", cursive;
    }
    li{
        font-family: fantasy;
    }
}






