body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #370617;
    color: #000000;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


header {
    background: #0a3d62;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header img.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    
}


header h1 {
    margin-top: 20px;
    font-size: 2.5em;
    letter-spacing: 1.5px;
}

header nav ul {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #eccc68;
}


footer {
    background: #0a3d62;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 10px 0;
    font-size: 1em;
}

footer img.icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

footer a img.icon {
    width: 30px;
    margin: 0 10px;
}


section {
    background: #fff;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(2, 2, 2, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-5px);
}

h2 {
    border-bottom: 2px solid #0a3d62;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2em;
    color: #0a3d62;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 1.6;
}

iframe {
    border: none;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #0a3d62;
}


@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    header img.profile-pic {
        width: 100px;
        height: 100px;
    }

    header h1 {
        font-size: 2em;
    }

    header nav ul li {
        display: block;
        margin: 5px 0;
    }

    header nav ul li a {
        font-size: 1em;
    }

    footer a img.icon {
        width: 25px;
    }

    section {
        padding: 20px;
    }

    h2 {
        font-size: 1.5em;
    }

    iframe {
        height: 200px;
    }
}  










































































































































